@font-face {
    font-family: 'Poppins Black';
    src: url('../fonts/Poppins/Poppins-Black.ttf');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'Poppins ExtraBold';
    src: url('../fonts/Poppins/Poppins-ExtraBold.ttf');
}

@font-face {
    font-family: 'Poppins ExtraLight';
    src: url('../fonts/Poppins/Poppins-ExtraLight.ttf');
}

@font-face {
    font-family: 'Poppins Italic';
    src: url('../fonts/Poppins/Poppins-Italic.ttf');
}

@font-face {
    font-family: 'Poppins Light';
    src: url('../fonts/Poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'Poppins SemiBold';
    src: url('../fonts/Poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'Poppins Thin';
    src: url('../fonts/Poppins/Poppins-Thin.ttf');
}

:root{
    --color1:rgb(250, 250, 250);
    --color2:rgb(105, 36, 253);
}

body{
    background-color: rgb(105, 36, 253);
    margin: 0 auto;
    height: 100%;
    width: 100%;
}

label, p{
    color: rgb(0, 0, 0);
    font-family: 'Poppins Medium';
}

label, a{
    user-select: none;
}

input{
    border-radius: 2px;
    border: 0;
    background-color: rgb(223, 223, 223);
    color: rgb(0, 0, 0);
    outline: none;
}

select, option{
    outline: none;
    border: none;
    background-color: var(--color1);
    color: rgb(0, 0, 0);
    font-family: 'Poppins Regular';
}

textarea{
    resize: none;
}

/* Scroll */
::-webkit-scrollbar{
    width: 12px;
    height: 12px;
    background-color: rgb(223, 223, 223);
    margin-top: 0px;
}

::-webkit-scrollbar-thumb{
    background-color: rgb(175, 175, 175);
    border-radius: 10px;
}

::-webkit-scrollbar-corner{
    background-color: rgb(175, 175, 175);
}

/* Navbar */
.squareTop{
    background-color:rgb(0, 0, 0);
    height: 35px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
}

.backButton{
    width: 50%;
}

.backButton a{
    color: var(--color1);
    font-family: 'Poppins Medium';
    outline: none;
    text-decoration: none;
    position: relative;
    margin-left: 15px;
    top: 5px;
}

.backButton a:hover{
    color: rgb(189, 189, 189);
}

.titleTop{
    width: 100%;
    text-align: center;
}

.titleTop p{
    color: aliceblue;
    margin: 0;
    position: relative;
    top: 5px;
}

/* Conteúdo Principal */

.content{
    height: calc(100vh - 30px);
    width: 100vw;
    display: flex;
}

/* Box 1 */
.display{
    background-color: rgb(255, 255, 255);
    width: 45%;
    height: 100%;
    left: 3%;
    top: 2%;
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.712);
    overflow: hidden;
}

.buttonView{
    text-align: center;
    height: calc(100vh - 65px)
}

/* Área do display de Resultado */
.displayCode{
    background-color: rgb(223, 223, 223);
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.displayCode p{
    margin:0px;
}

#buttonResult{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    height: 50px;
    max-height: 100px;
    width: 150px;
    max-width: 200px;
    cursor: pointer;
    outline: none;
    overflow:hidden;
    
}

/* Visualização dos códigos */
.codeView{
    text-align: start;
    width: calc(100% - 15px);
    height: 50%;
}

.codeView p{
    margin: 0px;
    position: relative;
    top: 10px;
    left: 10px;
    font-family: monospace;
    width: 100%;
    word-wrap: break-word;
}

/* Box 2 */
.displayConfigs{
    background-color: rgb(255, 255, 255);
    width: 45%;
    height: 100%;
    left: 7%;
    top: 2%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.712);
}

/* Conteúdo do box2 */
.boxContent{
    overflow: scroll;
    height:calc(100vh - 65px);
    text-align: center;
}

/* Configurações */
.config{
    width: 100%;
    height: 100%;
    margin-top: 25px;
}

.config input{
    padding-left: 5px;
    padding-right: 5px;
    height: 25px;
    width: 400px;
    font-family: 'Poppins Medium';
    
}

.config label{
    margin-right: 5px;
    display: block;
    font-family: 'Poppins';
    font-size: 15px;
}

.row{
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

.row:last-child{
    margin-bottom: 30px;
}

.row.color input{
    height: 100px;
    background-color: aliceblue;
    border: none;
}

@media (max-width: 1000px)
{
    .content{
        display: block;
    }

    .display{
        left: 0%;
        width: 90%;
        position: relative;
        left: 5%;
    }

    .displayConfigs{
        margin-top: 30px;
        margin-bottom: 30px;
        left: 0%;
        width: 90%;
        position: relative;
        left: 5%;
    }

    /* Conteúdo do box2 */
    .boxContent input{
        width: 200px;
    }

    /* Configurações */
    .config{
        height: 100%;
        margin-top: 25px;
    }

}

@media (min-width: 500px){
    .boxContent input{
        width: 400px;
    }
}